<!doctype html>
<html lang="en">
<head>
<title>Partybal experiments repository</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap" rel="stylesheet">
<style>
h1 { font-family: 'Zilla Slab', serif; }
</style>
</head>
<body>
<div class="container"><div class="row"><div class="col">
<h1>Experiment analyses</h1>
<table class="table table-striped table-bordered mt-4">
<thead>
<tr>
<th>Launch date</th><th>Name</th><th>Periods available</th>
</tr>
</thead>
<tbody>
{% for experiment in experiments|sort(attribute="name")|sort(reverse=true, attribute="start_date") %}
<tr>
<td>{{experiment.start_date_formatted}}</td>
<td><a href="{{experiment.filename_slug}}.html">{{experiment.name}}</a></td>
<td>{{results[experiment.filename_slug].available_code}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div></div></div>
</body>
</html>
