---
title: "{{ experiment.name }}"
date: '`r format(Sys.Date(), "%B %d, %Y")`'
output:
  html_document:
    toc: true
    toc_float: true
    df_print: kable
---

```{r setup, include=FALSE}
knitr::opts_chunk$set(echo = FALSE, warning=FALSE, message=FALSE, fig.height=2)

library(dplyr)
library(ggplot2)
library(jsonlite)

load_table <- function(path, segment) {
    read_json(path, simplifyDataFrame=TRUE) %>%
        mutate(window_index=as.integer(window_index)) %>%
        filter(segment == !!segment | is.na(segment))
}

source("{{source_path}}/plot_functions.R")
```

{% macro plot_period(name, segment) -%}
{% set period = results.get_result(name) %}
```{r}
period <- load_table("{{period.path}}", "{{segment}}")
```

{% for metric in period.metrics %}
### {{ metric.name }}
{% for statistic in metric.statistics %}
{% for comparison in statistic.comparisons %}
```{r}
plot_{{statistic.name}}(df=period, metric="{{metric.name}}", comparison="{{comparison}}", period="{{name}}")
```
{% endfor %} {# comparison #}
{% endfor %} {# statistic #}
{% endfor %} {# metric #}
{%- endmacro %}

{% for segment in results.segments %}
# {{segment}}

## Overall

{% if results.overall %}
```{r}
overall <- load_table("{{results.overall.path}}", "{{segment}}")
```

Statistics with means:

```{r, fig.width=4, fig.height=8}
overall %>%
    filter(statistic == "mean", comparison == "difference") %>%
    ggplot(aes(metric, point, ymin=lower, ymax=upper, color=branch)) +
        geom_pointrange(position=position_dodge(width=0.2)) +
        geom_blank(aes(ymin=-upper, ymax=-lower)) +
        coord_flip() +
        facet_wrap(~metric, ncol=1, scales="free") +
        labs(title="Absolute differences in mean ± CI") +
        geom_hline(yintercept=0) +
        theme(
            legend.position="bottom",
            plot.title.position="plot",
            legend.direction="vertical",
            strip.background=element_blank(),
            strip.text.x=element_blank()
        )
```
```{r, fig.width=4, fig.height=8}
overall %>%
    filter(statistic == "mean", comparison == "relative_uplift") %>%
    ggplot(aes(metric, point, ymin=lower, ymax=upper, color=branch)) +
        geom_pointrange(position=position_dodge(width=0.2)) +
        geom_blank(aes(ymin=-upper, ymax=-lower)) +
        scale_y_continuous(label=scales::percent) +
        coord_flip() +
        facet_wrap(~metric, ncol=1, scales="free") +
        labs(title="Relative differences in mean ± CI") +
        geom_hline(yintercept=0) +
        theme(
            legend.position="bottom",
            plot.title.position="plot",
            legend.direction="vertical",
            strip.background=element_blank(),
            strip.text.x=element_blank()
        )
```

{{ plot_period("overall", segment) }}

{% else %}
Overall results are not available yet.
{% endif %}

## Weekly

{% if results.weekly %}
{{ plot_period("weekly", segment) }}
{% else %}
No weekly results are available yet.
{% endif %}

## Daily

{% if results.daily %}
{{ plot_period("daily", segment) }}
{% else %}
No daily results are available yet.
{% endif %}

{% endfor %}
